$background-color: #121212;
$text-color: #ddd;
$vue-green: #42b883;
$hover-gradient: linear-gradient(90deg, #42b883, #2c3e50);
$border-color: #333;
$transition-speed: 0.3s;

$hover-text-color: #a9fbbd;
